.main-container{
  height:200px;
  width:100%;
  background-color: #161937 ;
  position: relative;
}
.fa{
  margin-right: 10px;
}
.btn{
  margin-top: 10px;
  width: 175px;
}
.items{
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.aboutme{
  background-color:#edeeef;
}
.aboutme h4{
  margin:0;
}
.about-content{
  padding: 50px;
}
.about-content h4{
  text-align: center;
  margin-bottom: 50px;
}
.aboutme p{
  font-size: 11.5px;
}
.skills{
  background-color: white;
}
.academic{
  background-color:#edeeef;
}
.academic h4{
  margin:0;
}
.academic-content{
  padding: 50px;
}
.academic p{
  font-size: 11.5px;
}
.box{
  width: 200px !important;
  height: 150px;
  margin: 10px 10px;
  display: inline-block;
  height: 10em;
  position: relative;
  background-image: url("../img/beDone.png");
  background-size: 100%;
  border-radius: 10%;
}
.img-bg{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box.luga{
  background-image: url("../img/luga.png");
  background-size: 100%;
  width: 200px !important;
}
.box.comesolo{
  background-image: url("../img/comesolo.png");
  background-size: 100%;
  width: 200px !important;
}
.box.arkash{
  background-image: url("../img/arkash.PNG");
  background-size: 100%;
  width: 200px !important;
}
.box p{
  margin: 0;
   color: white;
   background-color:rgba(0,0,0,0.4);
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
 }
.card-panel{
  background-color:#161937;
}
.box-text{
  margin-top: 20px;
   font-size: 12px;
   padding: 0px 0px;
}
.avatar{
  margin-bottom: 20px
  position: relative;
  width: 100%;
}

hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.parallax-container{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+95,0+99,0.65+99 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 95%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
position: relative;
}
@media screen and (min-width: 480px) {
  .parallax-container.main-parallax{
    height:  600px!important;
  }
}
@media screen and (min-width: 1024px) {
  .parallax-container.main-parallax{
    height:  800px!important;
  }
}
.projects{
  margin: 80px 60px;
}
.title-square{
  background-color: red;
  width: 100px;
  height: 100px;
}
.content{
  margin-top: 50px;
  text-align: center;
}
nav{
  background-color: transparent;
}
.info{
  font-size: 12px;
}
.icons{
  font-size: 70px!important;
  color:white;
}
.section{
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .section{
      top: 40%;
  }
  .section.form{
    top: 0%;
  }
}
@media screen and (max-width: 500px) {
  .section{
    top: 5%;
  }
  .section.form{
    top: 0%;
  }
}
.container{
  margin: 0 auto;
}
.item-icon{
  color: white;
  font-size: 90px!important;
}
.rounded-img{
      border-radius: 50%;
      width: 225px;
      height:225px;
}
