.main-container{
  height:500px;
  width:100%;
  background-color: #90a4ae ;
}
.box{
  width: 300px;
  height: 250px;
  background-color:red;
  margin: 10px 10px;
  display: inline-block;
}
.content{
  text-align: center;
}
